<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
    <tlib-version>1.0</tlib-version>
    <jsp-version>2.1</jsp-version>
    <short-name>ctg</short-name>
    <uri>customtags</uri>
    <tag>
        <name>newsPager</name>
        <tag-class>com.epam.newsmanagement.tags.NewsPagerTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>generalAmount</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>page</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>tagsCheckboxes</name>
        <tag-class>com.epam.newsmanagement.tags.TagsDropdownTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>selectedTags</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>tagList</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>authorsSelect</name>
        <tag-class>com.epam.newsmanagement.tags.AuthorDropdownTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>selectedAuthor</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>authorList</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>formatDate</name>
        <tag-class>com.epam.newsmanagement.tags.DateFormatTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>date</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
</taglib>