html {
    height: 100%;
}
body {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
img {
    border:0;
}

header, footer, nav, section {
    padding: 10px;
}
header,footer {
    border: 2px solid #000000;
}
section {
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}
.inlineBlock {
    display: inline-block;
}
section .content {
    padding: 10px;
    border : 1px solid #E4E4E4;

}
.button {
    padding: 10px 20px;
}
/*--------header----------*/
#localeBlock {
    display: inline-block;
    margin-top: -15px;
    float: right;
}
#siteTitle {
    color: #1E28AF;
    font-size: 30px;
    font-weight:bold;
    margin-left: 40px;
}
/*-----footer------*/
footer p {
    text-align : center;
    margin:0;
}


/*---------- newsList page -----------*/


/*---------select checkboxes----------*/
.multiselect {
        width: 200px;
        display: inline-table;
}
.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
}
.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}
#checkboxes {
    display: none;
    border: 1px #dadada solid;
}
#checkboxes label {
    display: block;
}
#checkboxes label:hover {
    background-color: #1e90ff;
}
#newsFilterTable {
    margin-left: auto;
    margin-right: auto;
}

#newsFilterTable td {
    vertical-align : top;
}

#resetFilterButton {
    margin-top:1px;
}

/*-------------newsList--------------*/
.newsTitle {
    display: inline-block;
    margin-right : 20px;
    margin-top: 5px;
}
.shortNews {
    margin-bottom: 60px;
}
.creationDate {
    float:right;
    text-decoration : underline;
}
.tagNames {
    display: inline-block;
    margin-right : 15px;
    float:right;
    color: darkgray;
}
.commentsAmount {
    display: inline-block;
    margin-right : 15px;
    float:right;
    color: red;
}
.newsViewLink {
    float:right;
}

.pager form {
    display: inline-block;
    margin-right: 10px;
    margin-bottom : 0;
}
.pager {
    padding:30px;
    text-align : center;
    background-color:#F5F5F5;
}
.pagerItem {
    display: inline-block;
    padding: 5px 15px;
    background-color : #EEEEEE;
    border: 1px solid #DBDBDB;
    border-radius : 5px;
}
.currentPage {
    background-color:#656262;
    color: #fff;
}

/*--------news page-----------*/
#comments {
    width:400px;
}
#newsBlock {
    margin: 5px 20px;
}
.commentCreationDate {
    text-decoration : underline;
}
.commentText {
    background-color:#C5C1C1;
}
#newsLinks {
    height:20px;
}
#postCommentButton {
    margin-top : 5px;
    float:right;
}
#nextNewsLink {
    float:right;
}